* {
    font-family: sans-serif, Arial, helvetica;
}

.title {
    text-transform: uppercase;
    font-family: sans-serif, arial, helvetica;
}

.cherry-title {
    color: #eb345e; 
}

.tiramisu-title {
    color: #3d2116;
}

.crepes-title {
    color: #db9d70;
}

.img {
    width: 500px;
    height: auto;
}

.ing-list {
    font-family: 'Times New Roman', Times, serif;
    background-color: #bdb2aa;
    font-size: 12;
}

.headers h4 { 
    color: red;
}