* {
    font-family: sans-serif, Arial, helvetica;
}

.title {
    text-transform: uppercase;
    font-family: sans-serif, arial, helvetica;
}

.cherry-title {
    color: #eb345e; 
}

.tiramisu-title {
    color: #3d2116;
}

.crepes-title {
    color: #db9d70;
}

.img {
    width: 500px;
    height: auto;
}

.ing-list {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0eeed;
    font-size: 12;
    line-height: 1.5;
}

.headers h4 { 
    font-size: larger;
}

.recipe-list {
    line-height: 1;
    background-color: none;
    font-style: italic;
}